
        /* Couleurs du Thème Sombre (identique à votre code) */
        :root {
            --bg-color: #121212;
            --sidebar-bg-color: #1e1e1e;
            --text-color: #fff;
            --secondary-text-color: #ddd;
            --table-bg-color: #222;
            --table-hover-color: #333;
            --border-color: #444;
            --accent-color: #6777ef;
            --accent-hover-color: #5564d8;
            --card-bg-color: #2d2d2d;
            --input-border-color: #555;
        }


        /* Styles personnalisés de la barre de défilement - scroll bar (Chrome, Safari, Opera) */
        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-track {
            background: #1e1e1e;
        }

        ::-webkit-scrollbar-thumb {
            background: #4b4b4b;
            border-radius: 6px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            background-color: #191818; /* Light gray background */
            color: #fff; /* Dark gray text */
            display: flex;
            min-height: 100vh;
        }

        .container {
            display: flex;
            flex: 1; /* Occupy remaining space */
        }


        /* Styles de la Barre Latérale (identique à votre code) */
        .sidebar {
            width: 250px;
            background-color: var(--sidebar-bg-color);
            padding: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
            position: fixed;
            height: 100%;
            overflow-y: auto;
        }

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        .logo {
            width: 180px;
            color: #ff9800;
            padding: 10px 20px;
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 1px;
        }

        .main-nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .main-nav li a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            text-decoration: none;
            color: var(--secondary-text-color);
            border-radius: 8px;
            transition: background-color 0.2s;
            font-size: 14px;
            cursor: pointer;
        }

        .main-nav li a:hover,
        .main-nav li a.active {
            background-color: #333;
            color: var(--text-color);
        }

        .main-nav li a i {
            margin-right: 10px;
            width: 20px;
            text-align: center;
            opacity: 0.7;
        }


        #element_cote_bo {
            margin-top: 80px;
        }
        #element_cote_bo:hover {
            padding-right: 34px;
        }

        #element_cote_os {
            margin-top: 140px;
        }
        #element_cote_os:hover {
            padding-right: 65px;
        }

        #element_cote_ow {
            margin-top: 200px;
        }

        #element_cote_ow:hover {
            padding-right: 34px;
        }

        .content {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            margin-left: 300px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .header h1 {
            color: #ff5621;
            /* margin: 0; */
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }

        /* Styles pour la nouvelle barre de recherche */
        .search-container {
            display: flex;
            align-items: center;
            border-radius: 25px;
            background-color: #fff;
            padding: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease; /* Animation de transition */
            width: 300px; /* Largeur initiale */
        }

        .search-container:focus-within {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au focus */
            width: 400px; /* Largeur augmentée au focus */
        }

        .search-input {
            border: none;
            outline: none;
            padding: 8px 15px;
            font-size: 16px;
            color: #333;
            flex: 1;
            background-color: transparent;
        }

        .search-icon {
            color: #777;
            padding: 8px;
        }

        /* CSS pour le bouton RESET */
        .reset-button {
            background-color: #3b413b; /* gris foncé */
            border: none;
            color: white;
            padding: 8px 77px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin-top: 275px;
            margin-left: 10px;
            margin-right: 12px;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.3s ease; /* Animation de transition */
            position: fixed;
        }

        .reset-button:hover {
            background-color: #4d4f4d; /* gris plus clair au survol */
            transition: all 0.3s ease; /* Animation de transition */
        }

        /* CSS pour le bouton "Retour en haut" avec une flèche */
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 50%; /* Le rendre circulaire */
            font-size: 20px; /* Taille de l'icône */
            transition: background-color 0.3s ease;
        }

        #myBtn:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Style de l'icône pour un meilleur centrage */
        #myBtn i {
            line-height: 0; /* Ajustement vertical */
        }


        #affiche_result {
            margin-top: 20px;
            padding: 15px;
            background-color: #333;
            border-radius: 8px;
            color: #fff;
            font-size: 1em;
        }

        .toolbar {
            display: flex;
            align-items: center;
        }

        .toolbar a {
            color: #777;
            margin-left: 10px;
            text-decoration: none;
        }

        .toolbar a:hover {
            color: #333;
        }

        .services {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .service-card {
            background-color: #252525;
            border-radius: 10px;
            padding: 20px;
            text-align: left;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
            cursor: pointer;
        }

        .service-card:hover {
            transform: translateY(-3px);
            background-color: #333232;
        }

        .card-title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .card-title i {
            font-size: 2em;
            margin-right: 15px;
            color: #3f51b5;
        }

        .service-card h3 {
            margin: 0;
            font-size: 16px;
            color: #fff;
        }

        /*  Cards at the top */
        .top-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin-bottom: 20px;
        }

        .top-card {
            border-radius: 10px;
            padding: 20px;
            text-align: left;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            color: white;
            display: flex;
            flex-direction: column;
            transition: transform 0.2s ease;
            justify-content: space-between; /* Push count to the bottom */
        }

        .top-card h3 {
            margin: 0;
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        .top-card .count {
            font-size: 1.5em;
            font-weight: bold;
            display: flex; /* Align number and icon */
            align-items: center;
            justify-content: flex-start; /* Align items to the start */
        }

        .top-card .count i {
            margin-left: 5px; /* Add space between number and icon */
        }

        /* Specific styles for each top card */
        .top-card.support {
            background-color: #000000; /* bloc noire */
        }

        /* #393636 */
        .top-card.support:hover {
            transform: translateY(-3px);
            background-color: #393636; /* bloc noire */
        }



        a {
            text-decoration: none;
        }

        .icon-bouton {
            width: 50px;
            /* height: 16px; */
            /* vertical-align: middle; */
        }


